.Persik {
  display: block;
  width: 30%;
  max-width: 240px;
  margin: 20px auto;
}
.header {
  font-family: "Aqum";
  font-style: normal;
  font-size: 90%;
  src: url("../Fonts/Aqum.ttf");
  color : #3f8ae0 ;
}
p#statistic 
{
  /* font-size: 4vmax;*/
  font-size: 150%;
  font-family: "Aqum","Arial", "Helvetica";
  font-style: initial;
  src: url("../Fonts/Aqum.ttf");
}
p.PCPAY{
  
  font-family: "Aqum";
  font-style: normal;
  src: url("../Fonts/Aqum.ttf");
  color : #3f8ae0 ;
}
.footer{
  
  font-family: "Arial";
  font-style: normal;
  src: url("../Fonts/Aqum.ttf");
  color : #3f8ae0 ;
}
.vpDiv{
  font-style: initial;
  src: url("../Fonts/Aqum.ttf");
}